
micro/.config/micro/buffers
yazi/.config/yazi/flavors/catppuccin-macchiato.yazi/LICENSE
yazi/.config/yazi/flavors/catppuccin-macchiato.yazi/LICENSE-tmtheme
yazi/.config/yazi/flavors/catppuccin-macchiato.yazi/README.md
BM/.config/BM/storage.json
BM/.config/BM/default.jpg
